.menu .title h1 {
  font-size: 5rem;
}
.menu .container {
  width: 80vw;
  max-width: 80%;
}
#categories, .categories {
  width: 80vw;
  max-width: 80%;
  margin: auto;
}
.sticky + .container {
  padding-top: 3%;
}
.sticky{
  left:10%;
}
/*#sides .item-card .header {
  font-size: 2rem;
}*/
.logo img {
  max-width: 80vw;
}
